<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Fabric Details</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="container">
        <div class="row">
            <div class="col-md-6 form-group">
                <label for="name">Name</label>
                <input id="name" type="text" class="form-control" ng-model="product.name">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group">
                <label for="name">Weave Type</label>
                <input id="name" type="text" class="form-control" ng-model="product.weaveType">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group">
                <label for="name">Yarn Type</label>
                <input id="name" type="text" class="form-control" ng-model="product.yarnType">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group">
                <label for="name">Width</label>
                <input id="name" type="text" class="form-control" ng-model="product.width">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group">
                <label for="name">Length</label>
                <input id="name" type="text" class="form-control" ng-model="product.length">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group">
                <label for="name">Price</label>
                <input id="name" type="text" class="form-control" ng-model="product.price">
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$close(product)">OK</button>
    <button class="btn btn-primary" type="button" ng-click="$dismiss()">Cancel</button>
</div>
