<section id="form">
    <!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1">
                <div class="login-form">
                    <!--login form-->
                    <h2>Login to your account</h2>
                    <form name="myForm" novalidate>
                    <span ng-bind="error" class="text-danger"></span>
                    <span ng-hide="myForm.email.$untouched || myForm.email.$valid" class="text-danger">Invalid Email!!</span>
                        <input type="email" name="email" placeholder="Email Address" ng-model="loginEmail" required/>
                        <input type="password" placeholder="Password" ng-model="loginPassword" required/>
                        <button type="submit" ng-disabled="myForm.$invalid" class="btn btn-default" ng-click="login(loginEmail, loginPassword)">Login</button>
                    </form>
                </div>
                <!--/login form-->
            </div>
            <div class="col-sm-1">
                <h2 class="or">OR</h2>
            </div>
            <div class="col-sm-4">
                <div class="signup-form">
                    <!--sign up form-->
                    <h2>New User Signup!</h2>
                    <form name="myForm2">
                    <span ng-hide="myForm2.email.$untouched || myForm2.email.$valid" class="text-danger">Invalid Email!!</span>
                        <input type="text" placeholder="Name" ng-model="firstName" required/>
                        <input type="email" name="email" placeholder="Email Address" ng-model="signupEmail" required/>
                        <input type="password" placeholder="Password" ng-model="signupPassword" required/>
                        <ul id="strength" check-strength="signupPassword"></ul>
                        <button type="submit" ng-disabled="myForm2.$invalid" class="btn btn-default" ng-click="signup(firstName, signupEmail, signupPassword)">Signup</button>
                    </form>
                </div>
                <!--/sign up form-->
            </div>
        </div>
    </div>
</section>
<!--/form-->
