<section id="form">
    <!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1">
                <div class="login-form">
                    <!--login form-->
                    <h2>Login to your account</h2>
                    <form>
                    <span ng-bind="error" class="text-danger"></span>
                        <input type="email" placeholder="Email Address" ng-model="loginEmail"/>
                        <input type="password" placeholder="Password" ng-model="loginPassword"/>
                        <span>
								<input type="checkbox" class="checkbox"> 
								Keep me signed in
							</span>
                        <button type="submit" class="btn btn-default" ng-click="login(loginEmail, loginPassword)">Login</button>
                    </form>
                </div>
                <!--/login form-->
            </div>
            <div class="col-sm-1">
                <h2 class="or">OR</h2>
            </div>
            <div class="col-sm-4">
                <div class="signup-form">
                    <!--sign up form-->
                    <h2>New User Signup!</h2>
                    <form>
                        <input type="text" placeholder="Name" ng-model="firstName"/>
                        <input type="email" placeholder="Email Address" ng-model="signupEmail"/>
                        <input type="password" placeholder="Password" ng-model="signupPassword"/>
                        <button type="submit" class="btn btn-default" ng-click="signup(firstName, signupEmail, signupPassword)">Signup</button>
                    </form>
                </div>
                <!--/sign up form-->
            </div>
        </div>
    </div>
</section>
<!--/form-->
