<style>
    body {
        background: #76b852;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(right, #76b852, #8DC26F);
        background: -moz-linear-gradient(right, #76b852, #8DC26F);
        background: -o-linear-gradient(right, #76b852, #8DC26F);
        background: linear-gradient(to left, #76b852, #8DC26F);
        font-family: "Roboto", sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

</style>

<div class="container">
    <div class="login-page">
        <div class="form">
            <h3>Textile Garment Bridge</h3>
            <div ng-show="isUser">
                <form class="login-form" ng-show="hasLogin">
                    <div class="form-inline">
                        <div class="radio">
                            <label for="seller">Seller</label><input id="seller" type="radio" name="type" value="/sellers" ng-model="type" checked="checked">
                        </div>
                        <div class="radio">
                            <label for="buyer">Buyer</label><input id="buyer" type="radio" name="type" ng-model="type" value="/buyers">
                        </div>
                    </div>
                    <input type="text" placeholder="username" ng-model="email" />
                    <input type="password" placeholder="password" ng-model="inputpassword" />
                    <button ng-click="login()">login</button>
                    <p class="message">Not registered? <a class="cursor-pointer" ng-click="hasLogin = !hasLogin">Create an account</a></p>
                </form>
                <form class="register-form" ng-hide="hasLogin">
                    <div class="form-inline">
                        <div class="radio">
                            <label for="seller">Seller</label><input id="seller" type="radio" name="type" value="/sellers" ng-model="type" checked="checked">
                        </div>
                        <div class="radio">
                            <label for="buyer">Buyer</label><input id="buyer" type="radio" name="type" ng-model="type" value="/buyers">
                        </div>
                    </div>
                    <input type="text" placeholder="First Name" ng-model="firstName" />
                    <input type="text" placeholder="Last Name" ng-model="lastName" />
                    <input type="text" placeholder="email address" ng-model="email" />
                    <input type="password" placeholder="password" ng-model="password" />
                    <input type="text" placeholder="Mobile" ng-model="mobile" />
                    <input type="text" placeholder="Address" ng-model="address" />
                    <button ng-click="login()">create</button>
                    <p class="message">Already registered? <a class="cursor-pointer" ng-click="hasLogin = !hasLogin">Sign In</a></p>
                </form>
                <p class="message">Admin Login? <a class="cursor-pointer" ng-click="isUser = !isUser">Login</a></p>
            </div>
            <form class="register-form" ng-hide="isUser">
                <input type="text" placeholder="name" ng-model="email" />
                <input type="password" placeholder="password" ng-model="inputpassword" />
                <button ng-click="login()">admin login</button>
                <p class="message">Not an admin? <a class="cursor-pointer" ng-click="isUser = !isUser">Login</a></p>
            </form>
        </div>
    </div>
</div>
