<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Textile Garment Bridge</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a class="cursor-pointer">Edit Profile</a></li>
            <li><a class="cursor-pointer" ng-click="goToFabrics()">Fabrics</a></li>
            <li><a class="cursor-pointer" ng-click="goToGraments()">Garments</a></li>
            <li><a class="cursor-pointer" ng-click="goToYarns()">Yarns</a></li>
            <li><a class="cursor-pointer" ng-click="goToRawMaterials()">Raw Materials</a></li>
        </ul>
    </div>
</nav>
<div ui-view></div>
